.dashboard {
  .first-list {
    .card {
      margin-top: 10px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      .card-body {
        justify-content: space-around;
        align-items: center;
        .card-content {
          p {
            margin: 0;
            &:nth-child(1) {
              font-size: 14px;
            }
            &:nth-child(2) {
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
        i {
          font-size: 30px;
          color: #dddfeb;
        }
      }
    }
  }
  .second-list,
  .third-list {
    margin: 20px 0;
    .card {
      margin-top: 20px;
      min-height: 300px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      .card-header {
        font-weight: 600;
        color: #4e73df;
      }
    }
  }
}
