.movie-trailer {
  button {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent !important;
    border: none;
    &:hover {
      background-color: transparent !important;
      border: none !important;
    }
    &:active {
      background-color: transparent !important;
      border: none !important;
    }
    &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.movie-modal {
  .modal-dialog {
    margin-top: 50px;
    position: relative;
    .modal-content {
      background-color: transparent;
      border: none;
      .modal-header {
        border: 2.5px solid getColor("white");
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        width: 45px;
        height: 45px;
        right: -23px;
        top: -23px;
        display: flex;
        align-items: center;
        justify-content: center;
        .close {
          position: absolute;
          padding: 0;
          margin: 0;
          width: 105%;
          height: 120%;
          margin-top: -2.5px;
          text-shadow: none;
          opacity: 1;
          color: getColor("white");
          span {
            margin-top: -20px;
          }
          &:focus {
            outline: none;
          }
        }
      }
      .modal-body {
        padding: 0;
        margin: 0;
      }
    }
  }
}
