/* Mixin Reponsive */
/* Set các giá trị với màn hình tương ứng */

$XL: 1170px;
$MD: 1024px;
$SM: 768px;
$XS: 480px;

// media queries
@mixin Responsive($canvas) {
  @if $canvas == XS {
    @media only screen and (min-width: $XS) {
      @content;
    }
  } @else if $canvas == SM {
    @media only screen and (min-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (min-width: $MD) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (min-width: $XL) {
      @content;
    }
  }
}
