.admin-layout {
  .movie-manager {
    .card {
      margin-top: 20px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
      .card-header {
        font-weight: 600;
        color: #4e73df;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          i {
            margin-right: 0px;
            @include Responsive(XS) {
              margin-right: 10px;
            }
          }
          background-color: #4e73df;
        }
      }
      .card-body {
        .remove-search {
          position: absolute;
          right: 0;
          width: 11.6%;
          height: 100%;
          display: flex;
          align-items: center;
          background-color: #4e73df;
          border-radius: 0 5px 5px 0;
        }
        .table {
          tbody {
            .setting-cell {
              .setting-cell-div {
                flex-direction: column;
                @include Responsive(XS) {
                  flex-direction: row;
                }
              }
            }
          }
        }
      }
    }
  }
}
