.footer-hr {
  margin-top: 40px;
  width: 90%;
}
.admin-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  font-size: 12px;
  .footer-left {
    padding: 0;
    display: flex;
    list-style-type: none;
    li {
      margin-right: 20px;
    }
  }
}
